body {
  background-color: rgba(0, 139, 139, 0.203);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

#weather-app {
  background-color: #ffffff;
  max-width: 600px;
  margin: 45px auto;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
}
h1 {
  font-size: 38px;
  margin: 0;
}
#weather-text h1 {
  margin-bottom: 8px;
}

h2 {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.t-icon {
  margin-right: 6px;
  font-size: 38px;
}

.t-value {
  padding-top: 15px;
  font-size: 58px;
}

#weather-search-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#city-input {
  width: 80%;
  padding: 15px 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: whitesmoke;
}

#submit-button {
  width: 15%;
  padding: 15px 0;
  font-size: 16px;
  color: white;
  background-color: darkcyan;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#submit-button:hover {
  cursor: pointer;
  background-color: rgba(0, 139, 139, 0.732);
}

#weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#weather-text {
  flex: 1;
  margin-right: 10px;
}

#weather-details {
  color: rgba(128, 128, 128, 0.85);
  font-size: 16px;
  line-height: 1.5;
}
#temperature {
  white-space: nowrap;
}

strong {
  color: rgb(139, 0, 58);
}

a {
  text-decoration: none;
  color: darkcyan;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: rgb(0, 255, 191);
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-day {
  text-align: center;
}

.weather-forecast-date {
  color: rgba(0, 139, 139, 0.459);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(139, 0, 58);
  margin-top: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
}

.weather-forecast-temperature {
  padding: 0 3px;
}

footer {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
