/* Global Styles */
body {
  background-color: rgba(0, 139, 139, 0.203);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

/* App Container */
#weather-app {
  background-color: #ffffff;
  max-width: 600px;
  margin: 45px auto;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
}

/* Heading Styles */
h1 {
  font-size: 38px;
  margin: 0;
}
#weather-text h1 {
  margin-bottom: 8px;
}

h2 {
  font-size: 58px;
}

/* Form */
#weather-search-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#city-input {
  width: 80%;
  padding: 15px 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: whitesmoke;
}

#submit-button {
  width: 15%;
  padding: 15px 0;
  font-size: 16px;
  color: white;
  background-color: darkcyan;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#submit-button:hover {
  cursor: pointer;
  background-color: rgba(0, 139, 139, 0.732);
}

/* Weather Display */
#weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#weather-text {
  flex: 1;
  margin-right: 10px;
}

#weather-details {
  color: rgba(128, 128, 128, 0.85);
  font-size: 16px;
  line-height: 1.5;
}
#temperature {
  white-space: nowrap;
}

/* Highlights */
strong {
  color: darkcyan;
}

/* Links & Footer */
a {
  text-decoration: none;
  color: darkcyan;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: rgb(0, 255, 191);
}

footer {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
